{% load common_tags %}
{% load crypto_tags %}
{% load admin_urls %}
{% load url from future %}

  <div class="results"> 
      <table>
    	<thead>
			<tr>
    	<th>Dashboard</th>
    	<th>Identifier</th>
    	<th>First Name</th>
    	<th>Initials</th>
    	<th>Dob</th>    	    	    	
    	<th>Consented</th>
    	<th>User Created</th>
    	<th>Date Modified</th>    	    	
    	</thead>	
        {% for maternalconsent in search_result.object_list %}
            {% if maternalconsent.subject_identifier %}
                <tr class="{% cycle 'row1' 'row2' %}">
                <td><A href="{% url subject_dashboard_url dashboard_type='maternal' dashboard_model='maternal_consent' dashboard_id=maternalconsent.pk show='appointments' %}">{{ maternalconsent.subject_identifier }}</A></td>
                <td>{{maternalconsent.subject_identifier}}</td>            
              	<td>{{ maternalconsent.first_name|encrypted }}</td>
              	<td>{{ maternalconsent.initials }}</td>          	
                <td>{{ maternalconsent.dob|date:'Y-m-d' }}</td>                      	            
                <td>{{ maternalconsent.consent_datetime|date:'Y-m-d H:i' }}</td>                      	            
                <td>{{ maternalconsent.user_created }}</td>
              	<td>{{ maternalconsent.modified|date:"Y-m-d" }}</td>         	  
                </tr>
            {% endif%}
        {% endfor %}
    </table> 
    </div>   
