  {% load common_tags %}  {% load crypto_tags %}
 {% load url from future %}
{% load admin_urls %}
 
      <table>
    	<thead>
			<tr>
    	<th>Dashboard</th>
    	<th>Identifier</th>
    	<th>First Name</th>
    	<th>Initials</th>
    	<th>Dob</th>    	    	    	
    	<th>Consented</th>
    	<th>User Created</th>
    	<th>Date Modified</th>    	    	
    	</thead>	
        {% for consent in search_result.object_list %}
            {% if consent.subject_identifier %}
                <tr class="{% cycle 'row1' 'row2' %}">
                <td><A href="{% url subject_dashboard_url dashboard_type='maternal' dashboard_model='maternal_consent' dashboard_id=consent.pk show='appointments' %}">{{ consent.subject_identifier }}</A></td>            
              	<td>{{ consent.first_name|encrypted }}</td>
              	<td>{{ consent.initials }}</td>          	
                <td>{{ consent.dob|date:'Y-m-d' }}</td>                      	            
                <td>{{ consent.consent_datetime|date:'Y-m-d H:i' }}</td>                      	            
                <td>{{ consent.user_created }}</td>
              	<td>{{ consent.modified|date:"Y-m-d" }}</td>         	  
                </tr>
            {% endif%}
        {% endfor %}
    </table>    
