{% extends "base_search.html" %}

{% block search %}

	<form action="." method="POST">
	<div style='display:none'>  
      {% csrf_token %}
    </div>
    <table>
    <tr>
    <td class="field">
        {{ form.search_term.errors }}
        <label for="id_search_term"></label>
        {{ form.search_term }}
    </td>
    <td>
        <input type="submit" value="Search" class="default" name="search" />
    </td>
    
    <script type="text/javascript">document.getElementById("id_search_term").focus();</script>
    <script type="text/javascript">
        (function($) {
            var field = null;
        })(django.jQuery);
    </script>
        </table>
    </form>
    
{% endblock search%}

