<div class="pagination">
    <span class="step-links">
        {% if search_result.has_previous %}
            <a href="?page={{ search_result.previous_page_number }}&{{ magic_url }}">&lsaquo;&lsaquo; previous</a>
        {% endif %}

        <span class="current">
            &nbsp;&nbsp;page {{ search_result.number }}/{{ search_result.paginator.num_pages }}&nbsp;&nbsp;
        </span>

        {% if search_result.has_next %}
            <a href="?page={{ search_result.next_page_number }}&{{ magic_url }}">next &rsaquo;&rsaquo;</a> 
        {% endif %}
    </span>
</div>
