{% extends "admin/base.html" %}
{% load i18n %}
{% load common_tags %}
{% load dajaxice_templatetags %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/section.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/laboratory.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/calendar.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/result_report.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom_fieldset.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dajax.core.js" charset="utf-8"></script>
{% dajaxice_js_import %}
{% endblock %}
{% block title %}EDC {% project_number %} {{ title }} | {% project_title %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% project_title %}</h1>
{% endblock %}

{% block footer %}<div style="margin:10px 10px 5px 10px;"><small><B>{% now 'Y' %} {% institution %}</B><BR>For Research Purposes Only. Unauthorized access is prohibited. Data collection schedule based on protocol "{% protocol_revision %}"
</small></div>{% endblock %}
