{% load common_tags %}
<div class="results">
      <table cellspacing="0" id="result_list">
        <thead><tr>
        <th>Identifier</th>
        <th>Account</th>
        <th>Initials</th>
        <th>Gender</th>
        <th>Dob</th>
        <th>Est?</th>                        
        <th>Age</th>
        <th>Consent</th>
        <th>User Created</th>
        <th>User Modified</th>        
    	<th>Created</th>
    	<th>Modified</th>    	
    	<th>Host</th>    	
        
        </thead>
        <tbody>
      {% for patient in search_results.object_list %}
        
            <tr class="{% cycle 'row2' 'row1' %}">
            <td><a href="/admin{{ patient.get_absolute_url }}">{{ patient.subject_identifier }}</A></td>
            <td>
                <table>
                {% for account in patient.account.all %}
                <tr><td>{{ account }}</td></tr>
                {% endfor %}
                </table>
            </td>    
            <td>{{patient.initials}}</td>
            <td>{{patient.gender|gender}}</td>
            <td>{{patient.dob|dob_or_dob_estimated:patient.is_dob_estimated}}</td>
            <td>{{patient.is_dob_estimated}}</td>            
            <td>{{patient.dob|age }}</td>
            <td>
                <table>
                {% for consent in patient.simple_consent.all %}
                <tr><td>{{consent}}</td></tr>
                {% endfor %}
                </table>
            </td>
            <td>{{ patient.user_created }}</td>
            <td>{{ patient.user_modified }}</td>            
            <td>{{ patient.created|date:"Y-m-d H:i" }}</td>
            <td>{{ patient.modified|date:"Y-m-d H:i" }}</td>            
            <td>{{ patient.hostname_created }}</td>        	  
            </tr>

      {% endfor %}
      <tr><td colspan="9">{{ search_results.object_list.count }} patient{{ search_results.object_list|pluralize }} found.</td></tr>                  
      </tbody>
      </table>
      </div>
      
      
      

