  {% load common_tags %}
  {% load crypto_tags %}
  <div class="results">
      <table  cellspacing="0" id="result_list" border=1>
    	<thead>
			<tr>
    	<th>Dashboard</th>
    	<th>Identifier</th>
    	<th>First Name</th>
    	<th>Initials</th>
    	<th>Dob</th>    	    	    	
    	<th>SID</th>    	
    	<th>Randomized</th>    	    	
    	<th>Mother</th>
    	<th>User Created</th>
    	<th>Date Modified</th>    	    	
    	</thead>	
        {% for infantbirth in search_result.object_list %}
                <tr class="{% cycle 'row1' 'row2' %}">
                <td><A href="{% url dashboard_url dashboard_type='infant' subject_identifier=infantbirth.registered_subject.subject_identifier %}">dashboard</A></td>
                <td>{{ infantbirth.registered_subject.subject_identifier|escape}}</td>
              	<td>{{ infantbirth.registered_subject.first_name|encrypted }}</td>
              	<td>{{ infantbirth.registered_subject.initials }}</td>          	
                <td>{{ infantbirth.dob|date:'Y-m-d' }}</td>                      	            
                <td>{{ infantbirth.registered_subject.sid }}</td>
                <td>{{ infantbirth.registered_subject.registration_datetime|date:'Y-m-d' }}</td>                      	                                              	            
                <td><A href="{% url dashboard_url dashboard_type='maternal' subject_identifier=infantbirth.registered_subject.relative_identifier %}">{{infantbirth.registered_subject.relative_identifier}}</A></td>
                <td>{{ infantbirth.registered_subject.user_created }}</td>
              	<td>{{ infantbirth.registered_subject.modified|date:"Y-m-d" }}</td>         	  
                </tr>
        {% endfor %}
    </table>    
    </div>
