{% load common_tags %}
{% load admin_urls %}
{% load url from future %}
{% load registered_subject_dashboard_tags %}
{% load requisition_tags %}

<span name="print_message_additional_labs" id="print_message_additional_labs"></span>

<table>
<thead>
<th>#</th>
<th>Requisition</th>
<th>Specimen</th>
<th>Drawn</th>                        
<th>Label</th>                        
<th>Status</th>
<th>Due</th>
<th>Reported</th>
<th>User</th>                        
<th>Modified</th>                        
<th>Comment</th>        
<th>Close</th>
<th>Audit</th>                
</thead>
<tbody>
{% if not additional_lab_bucket %}
    <tr class="{% cycle 'row1' 'row2' %}"><td colsapn="13"></td></tr>
{% else %}                
    {% for f in additional_lab_bucket %}
        <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{ forloop.counter }}</td>
        {% if f.entry_status == 'NEW' or f.entry_status == 'KEYED' or f.entry_status == 'QUERY' %}            
            {% if appointment.appt_status == 'in_progress' %}
             <td><A href="{% requisition_model_admin_url requisition_model f.lab_entry_unscheduled.panel registered_subject appointment visit_model dashboard_type %}">{{ f.lab_entry_unscheduled.panel.name|title }}</A></td>
            {% else %}                
                <td>{{ f.lab_entry_unscheduled.panel.name|title }}</td>
            {% endif %}                                 
        {% else %}                
            <td>{{ f.lab_entry_unscheduled.panel.name|title }}</td>
        {% endif %}  
        <td>{% get_requisition_value 'requisition_identifier' requisition_model f.lab_entry_unscheduled.panel registered_subject appointment visit_model %}</td>
        <td>{% get_requisition_value 'drawn_datetime' requisition_model f.lab_entry_unscheduled.panel registered_subject appointment visit_model %}</td>            
        <td>
            <input name="print" id="print" value="Print" type="button" class="default" onclick="Dajaxice.lab_requisition.print_label(Dajax.process, {'app_label':'{% get_app_label requisition_model %}', 'model_name':'{% get_model_name requisition_model %}','requisition_identifier':'{% get_requisition_value 'requisition_identifier' requisition_model f.lab_entry_unscheduled.panel registered_subject appointment visit_model %}', 'message_label': 'print_message_additional_labs'});">
        </td>            
        <td><A href="{{ f.get_absolute_url }}?next={{ subject_dashboard_visit_url|default:"dashboard_visit_url" }}&dashboard_type={{ dashboard_type }}&subject_identifier={{ subject_identifier }}&visit_code={{f.lab_entry_unscheduled.visit_definition.code}}&visit_instance={{ visit_instance}}&panel={{f.lab_entry_unscheduled.panel.pk}}">{{ f.get_entry_status_display }}</A></td>
        <td>{{ f.due_datetime|date:"Y-m-d" }}</td>
        <td>{{ f.report_datetime|date:"Y-m-d" }}</td>
        <td>{% if not f.user_modified %}{{ f.user_created }}{% else %}{{ f.user_modified }}{% endif %}</td>            
        <td>{% if not f.entry_status == 'NEW' %}{{ f.modified|date:"Y-m-d H:i" }}{% endif %}</td>                            
        <td>{{ f.entry_comment }}</td>        
        <td>{{ f.close_datetime|date:"Y-m-d" }}</td>
        <td><A href="/audit_trail/{{ app_label }}/{{ requisition_model }}/{{ subject_identifier }}/?visit_code={{f.lab_entry_unscheduled.visit_definition.code}}&visit_instance={{ visit_instance }}&back_url_name={{ subject_dashboard_visit_url|default:"dashboard_visit_url" }}&dashboard_type={{ dashboard_type }}">audit trail</a></td>            
                                                                                                                                                                         
        </tr>
    {% endfor %}
{% endif %}    
</tbody>
</table>

