{% extends "base_search.html" %}

{% block search %}
<!-- can take either a week or date form -->

<form action="." method="POST">
    {% csrf_token %}
    <table>
    <tr>
    {% for frm in form %}
       <td class="field">
         {{ frm.label_tag }}
        </td>     
   {% endfor %}
    </tr>
    <tr>    
    {% for frm in form %}    
    <td class="field">
        {{ frm.errors }}
        {{ frm }}
    </td>
   {% endfor %}    
    <td>
        <input type="submit" value="Search" class="default" name="search" />
    </td>
    <tr>
        <td colspan="2" class="help_text">{{ form.help_text }}</td>
    </tr>
    <script type="text/javascript">document.getElementById("id_date_start").focus();</script>
    <script type="text/javascript">
        (function($) {
            var field = null;
        })(django.jQuery);
    </script>
        </table>
    </form>



{% endblock search %}