{% extends extend %}
{% block title %}{{ block.super|capfirst }} by {{ search_by_name }}{% endblock %}

{% block pagination %}
{% if search_result.object_list %}
    {% include 'pagination_include.html' %}
{% endif %}
{% endblock %}

{% block results_title %}
    <h3>{% block result_title %}{{ block.super }}{{ search_result_title }}{% endblock %}</h3>
{% endblock %}


{% block results %}

    {% if search_result %}

        {% if search_result.object_list %}
        
            {% block result_body %}

            {% include search_result_template %}
            
            {% endblock %}  

            {% include 'pagination_include.html' %}               
    
        {% endif %}    
    
    <BR>Total: {{ count }}

    {% endif %}
    </div>

{% endblock %}




