<table>
    <tr>
    <td class="field">
    <form action="{% url 'audit_trail_url' section_name %}" method="POST">
    <div style='display:none'>{% csrf_token %}</div>
    <input type="submit" value="List applications" class="default" name="a" />
    </form>
    </td>
    {% if app_label %}
    <td class="field">
    <form action="{% url 'audit_trail_url' app_label as the_url%}" method="POST">
    <div style='display:none'>{% csrf_token %}</div>
    <input type="submit" value="List models for {{app_label}}" class="default" name="m" /></td>
    <input type="hidden" name="app_label" value="{{ app_label }}">    
    </form>    
    {% endif %}
    </tr></table>
