{% load common_tags %}
<h1>Result Information</h1>
<div class="results">
      <table cellspacing="0" cellpadding="2" id="result_list" border='1'>
        <thead><tr>
        <th>Result</th>
        <th>BHHRL_REF</th>
        <th>TGROUP</th>  
        <th>PATIENT</th>              
        <th>Date Received</th>
        <th>Drawn</th>
        <th>Assay_date</th>    	    	        
        <th>PROTOCOL</th>
        <th>SITEID</th>
        <th>VISIT</th>              
        <th>Comment</th>              
        <th>Cond</th>        
        <th>SRC</th>
        <th>Edit</th>  
        <th>RCV_ID</th> 
        <th>User</th>   	    	            	    	
        <th>lr</th> 
        </thead>
        <tbody>
        
          <tr class="{% cycle 'row2' 'row1' %}">
            <td>{{ result.result_identifier }}</td> 
            <td>{{ result.order.dmis_reference }}</td>
            <td>{{ result.order.panel }}</td> 
            <td>{{ receive.patient }}</td>
            <td>{{ result.result_datetime|date:"Y-m-d" }}</td>  
            <td>{{ result.order.aliquot.receive.datetime_drawn|date:'Y-m-d' }}</td>
            <td>{{ result.assay_datetime|date:"Y-m-d" }}</td>          
            <td>{{ result.order.aliquot.receive.protocol_identifier }}</td>     
            <td>siteId</td>            
            <td>visit</td>                          
            <td>{{ result.comment }}</td>   
            <td>{{ aliquot.condition }}</td>            
            <td>{{ result.result_source }}</td>    
            <td><A href="/admin/bhp_lab_core/result/{{ result.id }}">Edit</a></td>  
            <td>{{ receive.receive_identifier }}</td>         
            <td>{{ result.user_created }}</td>                                    
            <td>lr</td>
            </tr>
     
                            
      </tbody>
      </table>
      </div>
