{% load common_tags %}
<div class="results">
      <table cellspacing="0" id="result_list">
        <thead><tr>
        <th>Account Name</th>
        <th>Opened</th>
        <th>Closed</th>
        <th>PI</th>
        <th>Site Leader</th>
        <th>User Created</th>
        <th>User Modified</th>        
    	<th>Created</th>
    	<th>Modified</th>    	
    	<th>Host</th>    	
        
        </thead>
        <tbody>
      {% for account in search_results.object_list %}
        
            <tr class="{% cycle 'row2' 'row1' %}">
            <td><a href="/admin{{ account.get_absolute_url }}">{{ account.account_name }}</A></td>
            <td>{{account.account_opendate|date:"Y-m-d"}}</td>
            <td>{{account.account_closedate|date:"Y-m-d"}}</td>            
            <td>
                <table>
                {% for pi in account.principal_investigator.all %}
                <tr><td>{{pi}}</td></tr>
                {% endfor %}
                </table>
            </td>    
            <td>
                <table>
                {% for sl in account.site_leader.all %}
                <tr><td>{{sl}}</td></tr>
                {% endfor %}
                </table>
            </td>    
            <td>{{ account.user_created }}</td>
            <td>{{ account.user_modified }}</td>            
            <td>{{ account.created|date:"Y-m-d H:i" }}</td>
            <td>{{ account.modified|date:"Y-m-d H:i" }}</td>            
            <td>{{ account.hostname_created }}</td>        	  
            </tr>

      {% endfor %}
      <tr><td colspan="9">{{ search_results.object_list.count }} account{{ search_results.object_list|pluralize }} found.</td></tr>                  
      </tbody>
      </table>
      </div>
      
      
      

