{% extends "section.html"%}
{% block section_title%}{% endblock%}

{% block section_links %}

    <table border=1 >
    <tr>
    <td>
    {% if search_name %}
    <table bgcolor="LightYellow">
    <thead><th colspan="4">Search InfantBirths by:</th></thead>
    <tr>
        <td>
        <form method="GET" action="{% url section_search_by_url_name section_name=section_name search_name=search_name search_by='word' %}">
        <input type="submit" value="word" class="default" />
        </form>
        </td>
        <td>
        <form method="GET" action="{% url section_search_by_url_name section_name=section_name search_name=search_name search_by='week' %}">
        <input type="submit" value="week" class="default" />
        </form>
        </td>
        <td>
        <form method="GET" action="{% url section_search_by_url_name section_name=section_name search_name=search_name search_by='date' %}">
        <input type="submit" value="date" class="default" />
        </form>
        </td>
        {% comment %} <td>
        <form method="GET" action="{% url calendar_by_url_name section_name=section_name search_name=search_name %}">
        <input type="submit" value="Calendar" class="default" />
        </form>
        </td>{% endcomment %}
    </tr>
    </table>
    {% endif %}
    </td></tr>
    </table>


{% endblock %}

{% block top_search_name %}

    {% if search_results.object_list %}
        <h3>Most recent (top) {{ search_results.object_list.count }} {{search_name|capfirst}}{{ search_results.object_list|pluralize }}</h3>
        <i><small>Showing top {{ search_results.object_list.count }} result{{ search_results.object_list|pluralize }} only. Use search to see more.</small></i>
        {% include top_result_include_file %}
    
    {% endif %}

{% endblock%}

{% block other_section_links %}
</div>
{% endblock%}
